body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/clouds-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100%;
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("../assets/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .btn {
    font-size: xx-large;
  }

  form input[name="city"] {
    background-color: transparent;
    color: white;
    border-bottom: 2px solid whitesmoke;
    border-radius: 3px;
    font-size: xx-large;
  }

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.container-checkbox {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;

}

.container-searchbox {
  margin-top: 20px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width: 40px;
  height: 40px;
  background:white;
  border-radius: 30%;
  overflow: hidden;
  border:2px solid black;
  margin-top: 5px;
}
input[type='checkbox']:checked {
background: blue;

}
#check-label{
font-size: xx-large;
margin-left: 8px;
margin-bottom: 0;
}

.city-header {
  color: black;
  background-color: #f0f1f3c7;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #0000003b;
}

form {
  margin-bottom: 2rem;
}

form input[name="city"] {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid whitesmoke;
  border-radius: 3px;
}

form input:focus {
  background-color: transparent;
  box-shadow: none !important;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 210px;
  height: 300px;
 font-size: x-large;
  overflow: hidden;
  border-radius: 13%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  opacity: 0.9;
  margin: 8px;

  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  animation: fadein 2s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.card-header {
  background-color: #6495ed26;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
