.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-1 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.box-2 {
  margin-top: 20px;
}

.city-header {
  color: black;
  background-color: #f0f1f3c7;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #0000003b;
}
